---

name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

# Ref:
#   https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
concurrency:
  group: deployment
  cancel-in-progress: false

env:
  BRANCH_NAME: ${{ github.ref_name }}
  WORKSPACE: /var/workspace
  CORE_DIRECTORY: demo_review
  CHROME_DRIVE_DIRECTORY: chromedriver_linux64
  ENVIRONMENT: production
  APP_ENV_FILENAME: .env
  PYENV_PYTHON_PATH: /root/.pyenv/shims/python
  VENV_PATH: venv/bin/activate
  BACKUP_OUTPUT_PATH: /var/backups

jobs:
  build_env_file:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BRANCH_NAME }}

      - name: Config SSH
        uses: ./.github/actions/config_ssh
        with:
          HOST: ${{ secrets.PRODUCTION_HOST }}
          USERNAME: ${{ secrets.PRODUCTION_USERNAME }}
          PRIVATE_KEY: ${{ secrets.PRODUCTION_PRIVATE_KEY }}

      - name: Build ${{ env.APP_ENV_FILENAME }} file
        env:
          VARS: ${{ toJSON(vars) }}
        shell: bash
        run: |
          echo "$VARS" > vars.json
          deploy_scripts/json_to_env.py vars.json ${{ env.APP_ENV_FILENAME }} ${{ env.ENVIRONMENT }}

      - name: Copy ${{ env.APP_ENV_FILENAME }} file to ${{ env.ENVIRONMENT }}
        shell: bash
        run: |
          ssh ${{ secrets.PRODUCTION_HOST }} 'mkdir -p ${{ env.WORKSPACE }}/${{ env.CORE_DIRECTORY }}'
          scp ${{ env.APP_ENV_FILENAME }} ${{ secrets.PRODUCTION_HOST }}:${{ env.WORKSPACE }}/${{ env.CORE_DIRECTORY }}/

  deploy:
    needs: build_env_file
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BRANCH_NAME }}

      - name: Config SSH
        uses: ./.github/actions/config_ssh
        with:
          HOST: ${{ secrets.PRODUCTION_HOST }}
          USERNAME: ${{ secrets.PRODUCTION_USERNAME }}
          PRIVATE_KEY: ${{ secrets.PRODUCTION_PRIVATE_KEY }}

      - name: Fetch code
        shell: bash
        run: |
          ssh ${{ secrets.PRODUCTION_HOST }} 'cd ${{ env.WORKSPACE }}/${{ env.CORE_DIRECTORY }} && \
          git fetch --all --prune && \
          git checkout --force ${{ env.BRANCH_NAME }} || git checkout -b ${{ env.BRANCH_NAME }} origin/${{ env.BRANCH_NAME }} && \
          git reset --hard origin/${{ env.BRANCH_NAME }}'

      - name: Deploy app
        shell: bash
        run: |
          ssh ${{ secrets.PRODUCTION_HOST }} '${{ env.WORKSPACE }}/${{ env.CORE_DIRECTORY }}/deploy_scripts/deploy_app.sh'
